.product-details-page {
  min-height: 50vh;
}

.product-details-section {
  min-height: 78vh;
}

h1 {
  color: #000;
}

.product-quantity {
  display: flex;
}

.adjust-product-quantity {
  display: flex;
}

.product-details-group {
  display: flex;
  flex-direction: column;
}

.product-label {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  font-weight: 500;
  margin: 12px 0;
}

.product-value {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  font-weight: 300;
  line-height: 1.8rem;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.adjust-product-quantity {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.button-adjust {
  margin: 0 18px;
}

.button-addToCart {
  margin: 36px 0 32px 16px;
  padding: 12px 24px;
}

.button-addToCart i {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  margin-right: 16px;
}

.button-addToCart span {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}