.login-page {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20vh;
}

.login-section {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  animation: loadingForm 0.5s ease-in-out forwards;
}

@keyframes loadingForm {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.auth-form input {
  padding: 4px 8px;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  margin: 6px 0;
  &:focus {
    outline: none;
  }
}

.reset-password {
  text-decoration: none;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.orther-choices-section {
  display: flex;
  flex-direction: column;
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    color: #5193b3;
    font-size: clamp(0.8rem, 1.01rem, 1.2rem);
  }
}

.register {
  text-decoration: none;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.image-section {
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loadingImage 0.5s ease-in-out forwards;
}

@keyframes loadingImage {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.reset-password-page {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20vh;
}

.reset-password-section {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-input {
  display: flex;
  flex-direction: column;
  &input {
    padding: 4px 8px;
    font-size: clamp(0.8rem, 0.93rem, 1.1rem);
    margin: 5% 0;
  }

  &input:focus {
    outline: none;
  }
}

.orther-choices-section-2 {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}

.orther-choices-section-2--item {
  text-decoration: none;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}
