.category-page {
    min-height: 50vh;
}

.address-link {
    text-decoration: none;
    color: #5193b3;
  font-size: clamp(.8rem, 0.93rem, 1.1rem);
    margin-right: 12px;
}

.address {
    padding: 12px 8px;
}