.checkout-details-page {
  min-height: 50vh;
}
.address-link {
  text-decoration: none;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  margin-right: 12px;
}

.address {
  padding: 12px 8px;
}

.checkout-details-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 2%;
  min-height: 70vh;
}

.checkout-details-item {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  margin: 8px 4px;
}

.checkout-details-item label {
  margin-bottom: 4px;
}

.checkout-details-item input {
  padding: 3px 10px;
  font-size: clamp(0.8rem, 1.01rem, 1.2rem);
}

.checkout-details-item > *:focus {
  outline: none;
}

.checkout-summary {
  margin-top: 5%;
  margin-bottom: 3%;
}

.checkout-summary-list {
}

.checkout-summary-item {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.items-list-section {

}

.items-list {
  border: 1px solid #000;
  padding: 3%;
  margin: 2% 1%;
  border-radius: 5px;
  border: solid #ccc 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  animation: loadingForm 0.5s ease-in-out forwards;
}

.button-checkout {
  margin-top: 3%;
  width: 24%;
}

@keyframes loadingForm {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.item h4 {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.item span {
  font-size: clamp(0.8rem, 1.01rem, 1.2rem);
}

.checkout-form-left{
  animation: loadingLeftForm 0.5s ease-in-out forwards;
}

@keyframes loadingLeftForm {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}  

.checkout-form-right{
  animation: loadingRightForm 0.5s ease-in-out forwards;
}

@keyframes loadingRightForm {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}  


@media (min-width: 200px) and (max-width: 620px) {
  .button-checkout {
    width: 100%;
  }
}


@media (min-width: 700px) and (max-width: 1020px) {
  .test-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .button-checkout {
    width: 100%;
  }
}