.cart-page {
  min-height: 50vh;
}


.cart-items-list {
  padding: 2%;
}

.address-link {
  text-decoration: none;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  margin-right: 12px;
}

.address {
  padding: 12px 8px;
}

.item--image {
  border-radius: 5px;
  margin-bottom: 20px;
}

.cart-item--group__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item--group__right {
  display: flex;
  flex-direction: column;
}

.cart-item--image {
}

.adjust-quantity-section {
  display: flex;
  margin-left: 18px;
  align-items: center;
}

.quantity-section {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

.calc-section {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.product-price {
  display: flex;
}
.product-subtotal {
  display: flex;
}

.product-line {
  margin: 24px 0;
  width: 100%;
}

.cart-item--label {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.order-information-list {
  border-radius: 5px;
  border: solid #ccc 1px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  animation: loadingForm 0.5s ease-in-out forwards;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-informaton-section {
}

@keyframes loadingForm {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}


.order-item-list {
  height: 20vh;
}

.order-item {
  display: flex;
  justify-content: space-between;
}