.search-section {
  display: flex;
  justify-content: space-around;
  border: 1px solid #5193b3;
  border-radius: 12px;
  width: 100%;
  height: 80%;
  background-color: #fff;
  overflow: hidden;

}

.search-field {
  width: 90%;
  padding: 8px;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  border: none;
  outline: none;
  &:focus {
    border: none;
  }

  &::placeholder {
    color: #5193b3;
    font-size: clamp(.6rem, 0.84rem, 1rem);
  }
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  border-radius: 5px;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 420px) {
  .button-search {
    padding: 0 4px;
  }  
}