.header {
  background: linear-gradient(to right top, #30576b, #5193b3);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}

.header-top--wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.cart-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.cart-icon {
  font-size: clamp(24px, 1.47px, 28px);
}

.cart-desc--text {
  margin-left: 12px;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.cart-desc--number {
  transform: translateY(-12%);
}

.brand {
  color: #f54768;
  text-decoration: none;
}

.brand span {
  color: #fff;
}

.switchmode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.display-name {
  margin: 0 12px;
  font-size: clamp(1rem, 1rem, 1.2rem);
}

.login {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.header-bottom {
  height: 35%;
  display: flex;
  align-items: end;
}

.header-bottom--wide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1200px;
}

.categories-list {
  display: flex;
  list-style: none;
  margin-right: 2%;
}

.categories-list--item {
  text-decoration: none;
  color: #fff;
  padding: 8px 18px;
  margin: 0 8px;
  font-size: clamp(.8rem, 0.93rem, 1.1rem);
  border: 1px solid #fff;
  display: block;
  border-radius: 5px;
  &:hover {
    background: #f54768;
  }
}

// @media (min-width: 1200px) and (max-width: 1400px) {
//   .grid.wide {
//     max-width: 1200px;
//   }
// }