.header {
  height: 15vh;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
}

.header-top--wide {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-field {
  display: flex;
  justify-content: flex-end;
  color: #5193b3;
}

.brand {
  color: #5193b3;
  text-decoration: none;
}

.brand span {
  color: #f54768;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #5193b3;
  padding: 0;
  margin: 0;
}

.header-bottom--wide {
  width: 1400px;
  display: flex;
  justify-content: end;
}

.categories-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.categories-list--item {
  padding: 8px 24px;
  border: 1px solid #000;
  text-decoration: none;
  color: #fff;
}
