.header {
  background: linear-gradient(to right top, #30576b, #5193b3);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-top--wide {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.cart-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.cart-icon {
  font-size: clamp(24px, 1.47px, 28px);
}

.cart-desc--text {
  margin-left: 12px;
  font-size: clamp(1rem, 1.52rem, 1.8rem);
}

.cart-desc--number {
  transform: translateY(-12%);
}

.brand {
  color: #f54768;
  text-decoration: none;
}

.brand span {
  color: #fff;
}

.category-field {
  color: #fff;
  cursor: pointer;
  position: relative;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: clamp(1rem, 1.52rem, 1.8rem);
    margin-right: 12px;
  }
  i {
    font-size: clamp(24px, 1.47px, 28px);
  }
}

.categories-list {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 80%;
  z-index: 1;
  list-style: none;
  background-color: #5193b3;
  margin-top: 1vh;
  min-width: 170px;
  padding: 0;
  height: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: height linear 0.2s;
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.categories-list--height {
  height: 32vh;
}

.categories-list--item {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  font-size: clamp(1rem, 1rem, 1.2rem);
}

.switchmode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.display-name {
  margin: 0 12px;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.login {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1rem, 1.52rem, 1.8rem);
}
