.footer-section {
  background: linear-gradient(to right top, #30576b, #5193b3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.footer-col {

}

.footer-col h3 {
  color: #fff;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.footer-col--list {
  color: #fff;
  padding: 0;
}

.footer-col--item {
  list-style: none;
  font-size: clamp(1rem, 1.01rem, 1.2rem);
}

.copy-right {
  color: #fff;
}

.footer-top-section {
}

.footer-bottom-section {
  text-align: center;
}

.contact {
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  &:hover {
    filter: brightness(80%);
  }
}

@media (min-width: 200px) and (max-width: 520px) {
  .footer-col {
    text-align: center;
  }
}
