.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  animation: slideIn 1.5s ease-in-out;
}

.line {
  color: #fff;
  opacity: 1;
  width: 40%;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}
