.carousel {
  height: 100%;
  max-height: 80vh;
  width: 100%;
}

.carousel-caption {
  transform: translateY(-50%);
  animation: slideIn 1s ease-in-out;
}

.carousel .carousel-indicators button {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.line {
  color: #fff;
  opacity: 1;
  width: 40%;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}