.contact-page {
  min-height: 85vh;
}

.address-link {
  text-decoration: none;
  color: #5193b3;
  font-size: clamp(1rem, 1.18rem, 1.4rem);
  margin-right: 12px;
}

.address {
  padding: 12px 8px;
}

.contact-label {
  font-size: clamp(1rem, 1.52rem, 1.8rem);
  margin-right: 24px;
  margin-bottom: 4px;
}

.contact-value {
  font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.contact-value:focus {
  outline: none;
}

input.contact-value, textarea.contact-value {
    width: 68%;
    padding: 4px 8px;
}

.contact-information {
  list-style: none;
  padding: 0;
}

.contact-information--list {
    margin: 12px 0 12px 14px;
    list-style: none;
    font-size: clamp(1rem, 1.18rem, 1.4rem);
}

.contact-information-icon  {
    margin-right: 12px;
}

.group-contact {
    margin-bottom: 12px;
}

.contact-form {
  animation: loadingContactForm 0.5s ease-in-out forwards;
}

@keyframes loadingContactForm {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.information-box {
  background-color: #5193b3;
  color: #fff;
  padding: 12px 18px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  animation: loadingInformationBox 0.5s ease-in-out forwards;
}

@keyframes loadingInformationBox {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

form {
  padding: 12px 18px;
  margin-top: 12px;
  border-radius: 5px;
  border: solid #ccc 1px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}
